<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/error.css}" />
</head>


<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">

<div id="header">
    <div class="img">
        <a th:href="@{/rooms}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>
</div>

<div class="error-message">
    <h1>Oops, something went wrong(</h1>
    <p th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</p>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <form action="#" th:action="@{/index}">
        <input type="submit" value="To main page">
    </form>
</div>

</body>
</html>