<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>

<body>

<div id="header">
    <div class="txt">Welcome to bookster!</div>
    <div class="img"><img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/></div>
</div>

<!--<p th:if="${loginError}" class="error">Wrong user or password</p>-->
<div id="content">
    <form th:action="@{/signUp}" th:object="${signUpArguments}" method="post">
        <table>
            <tr>
                <td>
                    Login:
                </td>
                <td>
                    <input type="text" id="username" name="username" th:field="*{login}" th:required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" id="name" name="name" th:field="*{name}" th:required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" id="password" name="password" th:field="*{password}" th:required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    Repeat password:
                </td>
                <td>
                    <input type="password" id="repeatedPassword" name="pereatedPassword" th:field="*{repeatedPassword}" th:required="required"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Sign up"/>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>