<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/adminSpecificItem.css}"/>
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/requests}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/requests}" method="get">
            <input type="submit" value="Main page">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/users/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/signOut}" method="post">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>

<div id="content-user">
    <form action="#" th:action="@{|/users/${userByID.getUserID()}/update|}" th:object="${updateUserArguments}" method="post">
        <table class="table-user">
            <tr>
                <td class="table-user-1">User ID:</td>

                <td type="text" th:text="${userByID.getUserID()}" class="table-user-2"></td>
            </tr>
            <tr>
                <td class="table-user-1">Login:</td>
                <td class="table-user-2">
                    <input name="login" type="text" th:value="${userByID.getLogin()}" th:required="required"/>
                </td>
            </tr>
            <tr>
                <td class="table-user-1">Name:</td>
                <td class="table-user-2">
                    <input name="name" type="text" th:value="${userByID.getName()}" th:required="required"/>
                </td>
            </tr>
            <tr>
                <td class="table-user-1">Reset password:</td>
                <td class="table-user-2">
                    <input name="password" type="password" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td class="table-user-1">User role:</td>
                <td class="table-user-2">
                    <select name="userRole" type="text" th:value="${userRole}">
                        <option value="CLIENT" th:selected="${userByID.getUserRole().toString() == 'CLIENT'}">Client</option>
                        <option value="ADMIN" th:selected="${userByID.getUserRole().toString() == 'ADMIN'}">Admin</option>
                        <option value="OWNER" th:selected="${userByID.getUserRole().toString() == 'OWNER'}">Owner</option>
                    </select>
                </td>
            </tr>
        </table>
</div>


<div class="tp">
    <div class="buttons">
        <input type="submit" value="Update">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/users}">
            <input type="submit" value="Back">
        </form>
    </div>
</div>


</body>
</html>