<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All hotels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}"/>
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/requests}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/index}" method="get">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>


<div id="buttons-container">
    <div class="buttons">
        <form action="#" th:action="@{/requests}" method="get">
            <input type="submit" value="Requests">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/users}" method="get">
            <input type="submit" value="Users">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/hotels}" method="get">
            <input type="submit" value="Hotels">
        </form>
    </div>
</div>

<div id="sidebar">
    <form action="#" th:action="@{/hotels/withFilter}" th:object="${getAllHotelsWithFilterArguments}" method="post">
        <div>Hotel rating:<br/>
            <select name="hotelRating" type="text" th:field="*{rating}">
                <option selected value="">not selected</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <br/>

        <div>
            Name: <br/>
            <input type="text" name="name" th:field="*{name}"/>
        </div>
        <br/>

        <div>
            Owner name: <br/>
            <input type="text" name="name" th:field="*{ownerName}"/>
        </div>
        <br/>

        <input type="submit" value="Search">
        <input type="reset" value="Reset">
    </form>
</div>


<div id="content-hotel">
    <table>
        <tr>
            <th class="table-header">Hotel:</th>
        </tr>
        <tr th:each="hotel : ${allHotels}" class="bottom-line">
            <td>
                <a th:href="@{'/hotels/' + ${hotel.getHotelID()}}">
                    <p th:text="${hotel.getName()} + ' | '
                     + ${hotel.getAddress()} + ' | Rating: '
                     + ${hotel.getRating()}">
                    </p>
                </a>
            </td>
        </tr>
        <br/>
    </table>
</div>


</body>
</html>