<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}"/>
</head>
<body>
<div id="header">Hello,</div>

<div id="buttons-container">
    <div class="buttons">
        <form action="#" th:action="@{/requests}" method="get">
            <input type="submit" value="Requests">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/users}" method="get">
            <input type="submit" value="Clients">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/owners}" method="get">
            <input type="submit" value="Owners">
        </form>
    </div>
</div>

</body>
</html>