<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}"/>
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/requests}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/index}" method="get">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>


<div id="buttons-container">
    <div class="buttons">
        <form action="#" th:action="@{/requests}" method="get">
            <input type="submit" value="Requests">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/users}" method="get">
            <input type="submit" value="Users">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/hotels}" method="get">
            <input type="submit" value="Hotels">
        </form>
    </div>
</div>



<div class="create-user">
    <form action="#" th:action="@{/users/create}" method="get">
        <input type="submit" value="Create user">
    </form>
</div>



<div id="sidebar">
    <form action="#" th:action="@{/users/withFilter}" th:object="${getAllUsersWithFilterArguments}" method="post">
        <div>User role: <br/>
            <select name="userRole" type="text" th:field="*{userRole}">
                <option selected value="">not selected</option>
                <option value="CLIENT">Client</option>
                <option value="ADMIN">Admin</option>
                <option value="OWNER">Owner</option>
            </select>
        </div>
        <br/>
        <div>
            Login: <br/>
            <input type="text" name="login" th:field="*{login}"/>
        </div>
        <br/>
        <div>
            Name: <br/>
            <input type="text" name="name" th:field="*{name}"/>
        </div>
        <br/>
        <input type="submit" value="Search">
        <input type="reset" value="Reset">
    </form>
</div>


<div id="content-user">
    <table class="table-user">
        <tr>
            <th class="table-header">Users:</th>
        </tr>
        <tr th:each="user : ${allUsers}" class="bottom-line">
            <td>
                <a th:href="@{'/users/' + ${user.getUserID()}}">
                    <p th:text="'User ID: ' + ${user.getUserID()} + ' | '
                     + ${user.getLogin()} + ' | '
                     + ${user.getUserRole()}">
                    </p>
                </a>
            </td>
        </tr>
    </table>
    <br/>
</div>


</body>
</html>