body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}
#header { /* Верхний блок */
    background: rgb(184, 231, 247); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-size: 18px;
    height: 60px;
}
.img {
    float:right;
    vertical-align: middle;
    margin-right: 25px;
}
.buttons-header {
    /*float:right;*/
    margin: 18px 5px 0px 5px;
    float:left;
}

#content-hotel {
    margin: 10px 200px 20px 25%; /* Значения отступов */
    padding: 0px 20px 15px 20px;/* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}
.table-header {
    text-align: left;
}
.table-hotel {
    border-bottom: 0px;
}
.bottom-line {
    border-bottom: 1px solid #333;

}

.room-list {
    margin: 10px 130px 20px 0px;
    float: right;
}