body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

#header { /* Верхний блок */
    background: rgb(184, 231, 247); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-size: 18px;
    height: 60px;
}
.txt {
    margin-top: 18px;
    float:left;
}
.img {
    float:right;
    vertical-align: middle;
    margin-right: 25px;
}

.buttons {
    /*margin-left: 25%;*/
    /*align: left;*/
    display: inline-block;
    padding: 15px 10px 5px 10px;

}
#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-hotel {
    margin: 10px 90px 20px 0px;
    float: right;
}

.content-hotel {
    margin: 0px 270px 20px 270px; /* Значения отступов */
    padding: 10px 20px 5px 30px; /* Поля вокруг текста */
    border: 1px solid #333;
}
.table-header {
    text-align: left;
}
