<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client/room.css}"/>
    <title>Room booking</title>
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/rooms}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/rooms}" method="get">
            <input type="submit" value="Main page">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/users/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/index}" method="get">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>

<div id="content-booking">
    <form action="#" th:action="@{/requests/create}" th:object="${createRequestArguments}" method="post">
        <table>
            <tr>
                <td>Hotel: </td>
                <td th:text="${bookingRoom.getHotel().getName()}">Hotel name</td>
            </tr>
            <tr>
                <td>Address: </td>
                <td th:text="${bookingRoom.getHotel().getAddress()}">Hotel address</td>
            </tr>
            <tr>
                <td>Rating: </td>
                <td th:text="${bookingRoom.getHotel().getRating()}">Hotel rating</td>
            </tr>
            <tr>
                <td>Hotel description: </td>
                <td th:text="${bookingRoom.getHotel().getDescription()}">Hotel description</td>
            </tr>
            <tr>
                <td>Guests: </td>
                <td th:text="${bookingRoom.getGuestAmount()}"></td>
            </tr>
            <tr>
                <td>Room type: </td>
                <td th:text="${bookingRoom.getRoomType()}"></td>
            </tr>
            <tr>
                <td>Price for one night: </td>
                <td th:text="${bookingRoom.getPrice()}"></td>
            </tr>
            <tr th:if="${bookingRoom.getDiscount() != null}">
                <td>Discounted price: </td>
                <td th:text="${bookingRoom.getDiscount()}"></td>
            </tr>
            <tr>
                <td>Room description: </td>
                <td th:text="${bookingRoom.getDescription()}"></td>
            </tr>
                <td>Check in: </td>
                <td>
                    <input type="date" th:field="*{checkInDate}" th:required="required">
                </td>
            </tr>
            <tr>
                <td>Check out:  </td>
                <td>
                    <input type="date" th:field="*{checkOutDate}" th:required="required">
                </td>
            </tr>
            <tr>
                <td colspan="2" id="book-booking">
                    <input type="hidden" th:value="${bookingRoom.getRoomID()}" name="roomID">
                    <input type="submit" value="Book">
                </td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>