<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client/clientAccount.css}"/>
</head>
<body>
<div id="header">Hello,</div>

<div id="content-left">
    <table>
        <tr>
            <th class="request">Booking:</th>
            <th class="empty"></th>
            <th class="status">Status:</th>
        </tr>
    </table>
    <table th:each="request : ${allRequestsByUser}" class="bb">
        <tr>
            <td>
                <a th:href="@{'/requests/' + ${request.getRequestID()}}">
                <p th:text="'Request number: ' + ${request.getRequestID()} + ' | '
                     + ${request.getRoom().getHotel().getName()} + ' | '
                     + ${request.getRoom().getGuestAmount()} + ' guests | from '
                     + ${request.getCheckInDate()} + ' to '
                     + ${request.getCheckOutDate()}" class="request">
                </p>
            </a>
            </td>
            <td class="empty"></td>
            <td th:text="${request.getRequestStatus()}" title="BOOKED, PAYED, APPROVED, REJECTED" class="status"></td>
        </tr>
    </table>
    <br/>
</div>

<div id="content-right">
    <form action="#" th:action="@{/users/update}" th:object="${updateUserArguments}" method="post">
        <table class="pesonal">
            <tr>
                <th colspan="2">Personal info:</th>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input name="name" type="text" th:value="${userInformation.getName()}"/>
                </td>
            </tr>
            <tr>
                <td>Login:</td>
                <td>
                    <input name="login" type="text" th:value="${userInformation.getLogin()}"/>
                </td>
            </tr>
            <tr>
                <td>Old password:</td>
                <td><input name="oldPassword" type="password" th:field="*{oldPassword}"/></td>
            </tr>
            <tr>
                <td>New password:</td>
                <td><input name="password" type="password" th:field="*{password}"/></td>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>