<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/clientAccount.css}"/>
</head>
<body>
<div id="header">Hello,</div>

<div id="content-left">
    <table th:each="request : ${allRequestsByUserID}" id="requests-info">
        <tr>
            <td th:text="${request.getRequestID()} + ' | '
                + ${request.getRoom().getHotel().getName()} + ' | '
                + ${request.getRoom().getGuestAmount()} + ' guests | from '
                + ${request().getCheckInDate()} + ' to '
                + ${request().getCheckOutDate()}">
            </td>
            <td th:text="${request.getRequestStatus()}" th:title="BOOKED, PAYED, APPROVED, REJECTED,"></td>
        </tr>
    </table>
    <br/>
</div>

<div id="content-right">
    <table>
        <tr>
            <td th:text="${userInformation.getLogin()}"></td>
            <td th:text="${userInformation.getName()}"></td>
        </tr>
    </table>
</div>
</body>
</html>