<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client/room.css}"/>
    <!--<style>@import "room.css";</style>-->
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/rooms}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/rooms}" method="get">
            <input type="submit" value="Main page">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/users/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/signOut}" method="post">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>

<div id="sidebar">
    <form action="#" th:action="@{/rooms/withFilter}" th:object="${getAllRoomsWithFilterArguments}" method="post">
        <div>Hotel rating:<br/>
            <select name="hotelRating" type="text" th:field="*{hotelRating}">
                <option selected value="">not selected</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <br/>

        <div>Room type:<br/>
            <select name="roomType" type="text" th:field="*{roomType}">
                <option selected value="">not selected</option>
                <option value="STANDARD">Standard</option>
                <option value="LUXURY">Luxury</option>
                <option value="FAMILY">Family</option>
            </select>
        </div>


        <br/>
        <div>Guest amount:<br/>
            <select name="guestAmount" type="text" th:field="*{guestAmount}">
                <option selected value="">not selected</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <br/>

        <div>Check in:<br/><input type="date" th:field="*{checkInDate}"/></div>
        <br/>
        <div>Check out: <br/><input type="date" th:field="*{checkOutDate}"/></div>
        <br/>

        <div>
            Minimum price:<input name="minPrice" type="text" th:field="*{minPrice}" maxlength="30"/>
        </div>
        <br/>

        <div>
            Maximum price:<input name="maxPrice" type="text" th:field="*{maxPrice}" maxlength="30"/>
        </div>
        <br/>
        <input type="submit" value="Search">
    </form>
</div>


<div id="content">
    <div th:each="room : ${discountRooms}">
        <table>
            <tr>
                <td>Hotel:</td>
                <td th:text="${room.getHotel().getName()}">Hotel name</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td th:text="${room.getHotel().getAddress()}">Hotel address</td>
            </tr>
            <tr>
                <td>Rating:</td>
                <td th:text="${room.getHotel().getRating()}">Hotel rating</td>
            </tr>
            <tr>
                <td>Hotel description:</td>
                <td th:text="${room.getHotel().getDescription()}">Hotel description</td>
            </tr>
            <tr>
                <td>Guests:</td>
                <td th:text="${room.getGuestAmount()}"></td>
            </tr>
            <tr>
                <td>Room type:</td>
                <td th:text="${room.getRoomType()}"></td>
            </tr>
            <tr>
                <td>Price for one night:</td>
                <td th:text="${room.getPrice()}"></td>
            </tr>
            <tr th:if="${room.getDiscount() != null}">
                <td>Discounted price:</td>
                <td th:text="${room.getDiscount()}"></td>
            </tr>
            <tr>
                <td>Room description:</td>
                <td th:text="${room.getDescription()}"></td>
            </tr>
            <tr>
                <td></td>
                <td id="book">
                    <form action="#" th:action="@{|/rooms/book/${room.getRoomID()}|}" method="post">
                        <input type="submit" value="Book">
                    </form>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>


</body>
</html>