<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client/payment.css}"/>
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/rooms}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/rooms}" method="get">
            <input type="submit" value="Main page">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/users/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/index}" method="get">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>

<div class="top">
    Please fill in card data:
</div>
<div id="content">
<form action="#" th:action="@{|/requests/${requestID}/pay|}" th:object="${payRequestArguments}" method="post">
    <table>
        <tr>
            <td>
                Card number:
            </td>
            <td>
                <input type="text" name="cardNumber" th:field="*{cardNumber}" th:required="required"/>
            </td>
        </tr>
        <tr>
            <td>
                Expiration date:
            </td>
            <td>
                <input type="text" name="cardExpirationDate" th:field="*{cardExpirationDate}" th:required="required"/>
            </td>
        </tr>
        <tr>
            <td>
                Security code:
            </td>
            <td>
                <input type="password" name="cardCVV" th:field="*{cardCVV}" th:required="required"/>
            </td>
        </tr>
        <tr>
            <td>
                Name and surname:
            </td>
            <td>
                <input type="text" name="cardHolderName" th:field="*{cardHolderName}" th:required="required"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Pay"/>
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>