<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/clientAccount.css}"/>
</head>
<body>
<div id="header">Hello,</div>

<table id="content-left">
    <tr>
        <td>Request number: </td>
        <td th:text="${requestByID.getRequestID()}">Hotel name</td>
    </tr>
    <tr>
        <td>Hotel: </td>
        <td th:text="${requestByID.getRoom().getHotel().getName()}">Hotel name</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td th:text="${requestByID.getRoom().getHotel().getAddress()}">Hotel address</td>
    </tr>

    <tr>
        <td>Rating: </td>
        <td th:text="${bookingRoom.getHotel().getRating()}">Hotel rating</td>
    </tr>
    <tr>
        <td>Description: </td>
        <td th:text="${bookingRoom.getHotel().getDescription()}">Hotel description</td>
    </tr>
    <tr>
        <td>Guests: </td>
        <td th:text="${bookingRoom.getGuestAmount()}"></td>
    </tr>
    <tr>
        <td>Room type: </td>
        <td th:text="${bookingRoom.getRoomType()}"></td>
    </tr>
    <tr>
        <td>Price for one night: </td>
        <td th:text="${bookingRoom.getPrice()}"></td>
    </tr>
    <tr th:if="${bookingRoom.getDiscount() != null}">
        <td>Discount: </td>
        <td th:text="${bookingRoom.getDiscount()}"></td>
    </tr>
    <tr>
        <td>Room description: </td>
        <td th:text="${bookingRoom.getDescription()}"></td>
    </tr>
    <td>Check in: </td>
    <td>
        <input type="date" th:field="*{checkInDate}" th:required="required">
    </td>
    </tr>
    <tr>
        <td>Check out:  </td>
        <td>
            <input type="date" th:field="*{checkOutDate}" th:required="required">
        </td>
    </tr>
    <tr>
        <td colspan="2" id="book-booking">
            <input type="hidden" th:value="${bookingRoom.getRoomID()}" name="roomID">
            <input type="submit" value="Book">
        </td>
    </tr>
</table>

</body>
</html>