<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userAccount.css}"/>
</head>
<body>
<div id="header">Hello,</div>

<div id="content">
    <div th:each="room : ${allClientRooms}">
        <table>
            <tr>
                <td>Hotel: </td>
                <td th:text="${room.getHotelID()}">number</td>
            </tr>
            <tr>
                <td>Guests: </td>
                <td th:text="${room.getGuestAmount()}"></td>
            </tr>
            <tr>
                <td>Room type: </td>
                <td th:text="${room.getRoomType()}"></td>
            </tr>
            <tr>
                <td>Price for one night: </td>
                <td th:text="${room.getPrice()}"></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td th:text="${room.getDescription()}"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <form action="#" th:action="@{/rooms/book}" th:object="${extendedRequestArgument}" method="post">
                        <input type="submit" value="book">
                    </form>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</body>
</html>