body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

#header { /* Верхний блок */
    background: rgb(184, 231, 247); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-size: 18px;
    height: 60px;
}
.img {
    float:right;
    vertical-align: middle;
    margin-right: 25px;
}
.buttons-header {
    /*float:right;*/
    margin: 18px 5px 0px 5px;
    float:left;
}

#content { /* Левая колонка */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 300px; /* Ширина колонки *!*/
    padding: 5px; /* Поля вокруг текста *!*/
    /*margin: 10px 10px 20px 15px; !* Значения отступов *!*/
    margin-left: 15px;
}

table {
    border: 1px solid #333;
    margin: auto;
}

.top {
    margin-left: 15px;
    padding: 15px 0px;
    font-size: 16px;
}

