body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}
#header { /* Верхний блок */
    background: rgb(184, 231, 247); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-size: 18px;
    height: 60px;
}
.img {
    float:right;
    vertical-align: middle;
    margin-right: 25px;
}
.buttons-header {
    /*float:right;*/
    margin: 18px 5px 0px 5px;
    float:left;
}


.tpk {

    border-collapse: collapse;
    width: 945px;

}

.tpk1 {
    border: 1px solid #333;
    width: 200px;
    height: 20px;
    padding-left: 5px;
    /*border-collapse: collapse;*/

}

.tpk2 {
    border: 1px solid #333;
    width: 745px;
    height: 20px;
    padding-left: 5px;
    /*border-collapse: collapse;*/

}


#content-request{
    align: center;
    margin: 10px 205px 5px 205px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}

.buttons {

    /*margin-left: 50%;*/
    align: center;
    display: inline-block;
    padding: 0px 5px;

}
.tp {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-user {
    align: center;
    margin: 10px 500px 5px 500px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}
.table-user {

    border-collapse: collapse;
    border: 1px solid #333;
    /*width: 945px;*/

}
.table-user-1 {
    /*border: 1px solid #333;*/
    width: 250px;
    height: 20px;
    padding-left: 5px;
    /*border-collapse: collapse;*/

}
.table-user-2 {
    /*border: 1px solid #333;*/
    width: 210px;
    height: 20px;
    padding-left: 15px;
    /*border-collapse: collapse;*/

}

#content-hotel {
    align: center;
    margin: 10px 300px 5px 300px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}
.table-hotel {
    border-collapse: collapse;
    border: 1px solid #333;
}
.table-hotel-1 {
    width:200px;
}
.input-hotel {
    width: 600px;
}

#account {
    align: center;
    margin: 10px 510px 5px 510px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}
.table-account {
    border: 1px solid #333;
}
.table-account-1 {
    width: 320px;
    height: 20px;
    padding-left: 5px;
}
.table-account-2 {
    width: 150px;
    height: 20px;
    padding: 5px;

}

.all-rooms-button {
    margin: 10px 110px 20px 0px;
    float: right;
}

#content-room {
    align: center;
    margin: 10px 300px 5px 300px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}
.table-room {
    border-collapse: collapse;
    border: 1px solid #333;
}
.table-room-1 {
    width:200px;
    padding: 5px;
}
.table-room-2 {
    padding: 5px;
}
.input-hotel {
    width: 600px;
}

.buttons-container-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-bottom {
    align: center;
    display: inline-block;
    padding: 0px 5px;
}