body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

.bb {
    /*border-style: hidden;*/
    border-bottom: 1px solid #333;
    border-collapse: collapse;
}

#header { /* Верхний блок */
    background: #0080c0; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-size: 18px;
}

#content-left { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 800px; /* Ширина колонки */
    padding: 10px; /* Поля вокруг текста */
    margin: 10px 10px 20px 15px; /* Значения отступов */
}


.request {
    width: 600px;
    text-align: left;
    /*border-bottom: 1px solid black;*/
}
.empty {
    width: 100px;
    /*border-bottom: 1px solid black;*/

}
.status {
    width: 100px;
    text-align: left;
    /*border-bottom: 1px solid black;*/
}

#content-right { /* Правая колонка */
    margin: 10px 90px 20px 950px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}

.personal {
    text-align: left;
}

#footer { /* Нижний блок */
    background: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
}