body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

#header { /* Верхний блок */
    background: rgb(184, 231, 247); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-size: 18px;
    height: 60px;
}
.txt {
    margin-top: 18px;
    float:left;
}
.img {
    float:right;
    vertical-align: middle;
    margin-right: 25px;
}


#content{
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 275px;
    padding: 5px;
    margin: 170px auto 0px auto;
}

table {
    border-collapse: collapse;
    border: 1px solid #333;

}

td {
    padding: 5px;
}

.registration {
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 18px;
}