<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/hotel.css}"/>
</head>
<body>
<div id="header">Hello,</div>
<br/>
<div><form action="#" th:action="@{hotels/allHotels}" method="get">
    <input type="submit" value="Hotels" class="button"/>
</div>
<div><form action="#" th:action="@{hotels/}" method="get">
    <input type="submit" value="Discounts" class="button"/>
</div>
</body>
</html>
