<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/room.css}"/>
    <!--<style>@import "room.css";</style>-->
</head>
<body>

<div id="header">Hello,</div>
<div id="sidebar">
    <form action="#" th:action="@{rooms/withFilter}" th:object="${greeting}" method="get">
        <p>Id: <input type="text" th:field="*{guestAmount}"/></p>

        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>

        <!--<div>-->
            <!--<select name="roomType" th:field="*{roomType}">-->
                <!--<option selected>not selected</option>-->
                <!--<option name="standart">standart</option>-->
                <!--<option name="luxury">luxury</option>-->
                <!--<option name="family">family</option>-->
            <!--</select>-->
        <!--</div>-->


        <!--<br/>-->
        <!--<div>-->
            <!--<select name="guestAmount" th:field="*{guestAmount}">-->
                <!--<option selected>not selected</option>-->
                <!--<option name="1">1</option>-->
                <!--<option name="2">2</option>-->
                <!--<option name="3">3</option>-->
                <!--<option name="4">4</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<br/>-->

        <!--<div>Check in:<br/><input type="date" th:field="*{checkInDate}"></div>  <br/>-->
        <!--<div>Check out: <br/><input type="date" th:field="*{checkOutDate}"></div>-->
        <!--<br/>-->

        <!--<div>-->
            <!--Minimum price:<input type="text" name="minPrice" th:field="*{minPrice}">-->
        <!--</div>-->
        <!--<br/>-->

        <!--<div>-->
            <!--Maximum price:<input type="text" name="maxPrice" th:field="*{maxPrice}">-->
        <!--</div>-->
        <!--<br/>-->
        <!--<input type="button" value="Search">-->
        <!--<input type="reset" value="Reset">-->
    </form>
</div>


<div id="content">
    <div th:each="room : ${allRooms}">
        <table>
            <tr>
                <td>Hotel: </td>
                <td th:text="${room.getHotelID()}">number</td>
            </tr>
            <tr>
                <td>Guests: </td>
                <td th:text="${room.getGuestAmount()}"></td>
            </tr>
            <tr>
                <td>Room type: </td>
                <td th:text="${room.getRoomType()}"></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td th:text="${room.getPrice()}"></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td th:text="${room.getDescription()}"></td>
            </tr>
            <tr>
                <td></td>
                <td id="book">
                    <form action="" method="get">
                        <input type="button" value="book">
                    </form>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>


</body>
</html>