<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owner/ownerLists.css}"/>
</head>
<body>

<div id="header">
    <div class="txt">Hello,</div>
    <div class="img"><img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/></div>
</div>


<div id="buttons-container">
    <div class="buttons">
        <form action="#" th:action="@{/hotels/owner}">
            <input type="submit" value="Hotels">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/}" method="get">
            <input type="submit" value="Special offers">
        </form>
    </div>
</div>


<div class="create-hotel">
    <form action="#" th:action="@{/create}" method="get">
        <input type="submit" value="Create hotel">
    </form>
</div>

<div class="content-hotel">
    <table>
        <tr>
            <th class="table-header">Hotel:</th>
        </tr>
        <tr th:each="hotel : ${allHotelsByOwnerID}">
            <td>
                <a th:href="@{|'/hotels/owner/' + ${hotel.getOwnerID()} + '/' + ${hotel.getHotelID()}|}">
                    <p th:text="${hotel.getName()} + ' | '
                     + ${hotel.getAddress()} + ' | Rating: '
                     + ${hotel.getRating()}">
                    </p>
                </a>
            </td>
        </tr>
        <br/>
    </table>
</div>
</body>
</html>