<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owner/ownerSpecificItem.css}"/>
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/hotels}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/hotels}" method="get">
            <input type="submit" value="Main page">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/users/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/index}" method="get">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>


<div class="all-rooms-button">
    <form action="#" th:action="@{|/hotels/${hotelByID.getHotelID()}/rooms|}" method="get">
        <input type="submit" value="All rooms">
    </form>
</div>


<div id="content-hotel">
    <form action="#" th:action="@{|/hotels/${hotelByID.getHotelID()}/update|}" th:object="${updateHotelArguments}" method="post">
        <table class="table-hotel">
            <tr>
                <td class="table-hotel-1">Name:</td>
                <td class="table-hotel-2">
                    <input name="name" type="text" th:value="${hotelByID.getName()}" th:required="required" class="input-hotel"/>
                </td>
            </tr>
            <tr>
                <td class="table-hotel-1">Address:</td>
                <td class="table-hotel-2">
                    <input name="address" type="text" th:value="${hotelByID.getAddress()}" th:required="required" class="input-hotel" height="100px"/>
                </td>
            </tr>
            <tr>
                <td class="table-hotel-1">Rating:</td>
                <td class="table-hotel-2">
                    <select name="rating" type="text" th:value="*{rating}">
                        <option value="1" th:selected="${hotelByID.getRating().toString() == '1'}">1</option>
                        <option value="2" th:selected="${hotelByID.getRating().toString() == '2'}">2</option>
                        <option value="3" th:selected="${hotelByID.getRating().toString() == '3'}">3</option>
                        <option value="4" th:selected="${hotelByID.getRating().toString() == '4'}">4</option>
                        <option value="5" th:selected="${hotelByID.getRating().toString() == '5'}">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table-hotel-1">Description:</td>
                <td class="table-hotel-2">
                    <input name="description" type="text" th:value="${hotelByID.getDescription()}" th:required="required" class="input-hotel"/>
                </td>
            </tr>
        </table>
</div>


<div class="buttons-container-bottom">
    <div class="buttons-bottom">
        <input type="submit" value="Update">
        </form>
    </div>
    <div class="buttons-bottom">
        <form action="#" th:action="@{|/hotels/${hotelByID.getHotelID()}/delete|}" method="post">
            <input type="submit" value="Delete">
        </form>
    </div>
    <div class="buttons-bottom">
        <form action="#" th:action="@{/hotels}">
            <input type="submit" value="Back">
        </form>
    </div>
</div>

</body>
</html>