<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owner/ownerSpecificItem.css}"/>
</head>
<body>

<div id="header">
    <div class="img">
        <a th:href="@{/hotels}">
            <img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/>
        </a>
    </div>

    <div class="buttons-header">
        <form action="#" th:action="@{/hotels}" method="get">
            <input type="submit" value="Main page">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/users/myAccount}" method="get">
            <input type="submit" value="My account">
        </form>
    </div>
    <div class="buttons-header">
        <form action="#" th:action="@{/signOut}" method="post">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>



<div id="account">
    <form action="#" th:action="@{/users/myAccount/update}" th:object="${updateUserArguments}" method="post">
        <table class="table-account">
            <tr>
                <td class="table-account-1">Login:</td>
                <td class="table-account-2">
                    <input name="login" type="text" th:value="${userByID.getLogin()}" th:required="required" maxlength="30"/>
                </td>
            </tr>
            <tr>
                <td class="table-account-1">Name:</td>
                <td class="table-account-2">
                    <input name="name" type="text" th:value="${userByID.getName()}" th:required="required" maxlength="30"/>
                </td>
            </tr>
            <tr>
                <td class="table-account-1">Old password:</td>
                <td class="table-account-2">
                    <input name="oldPassword" type="password" th:field="*{oldPassword}" maxlength="30"/>
                </td>
            </tr>
            <tr>
                <td class="table-account-1">New password:</td>
                <td class="table-account-2">
                    <input name="password" type="password" th:field="*{password}" maxlength="30"/>
                </td>
            </tr>
        </table>
</div>


<div class="buttons-container-bottom">
    <div class="buttons-bottom">
        <input type="submit" value="Save">
        </form>
    </div>
    <div class="buttons-bottom">
        <form action="#" th:action="@{/hotels}">
            <input type="submit" value="Back">
        </form>
    </div>
</div>

</body>
</html>