<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owner/owner.css}"/>
</head>
<body>

<div id="header">
    <div class="txt">Hello,</div>
    <div class="img"><img th:src="@{/images/hotel.jpg}" width="60px" height="60px"/></div>
</div>


<div id="buttons-container">
    <div class="buttons">
        <form action="#" th:action="@{/owner/ownerID}">
            <input type="submit" value="Hotels">
        </form>
    </div>
    <div class="buttons">
        <form action="#" th:action="@{/}" method="get">
            <input type="submit" value="Special offers">
        </form>
    </div>
</div>

<div class="create-hotel">
    <form action="#" th:action="@{/create}" method="get">
        <input type="submit" value="Create hotel">
    </form>
</div>



</body>
</html>